
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
div {
    width: 150px;
    position: absolute;
}
div#one {
    border: 7px solid blue;
    top: 0;
    left: 0;
}
div#two {
    border: 7px solid green;
    top: 0;
    right: 0;
}
div#three {
    border: 7px solid orange;
    bottom: 0;
    left: 0;
}
div#four {
    border: 7px solid yellow;
    bottom: 0;
    right: 0;
}
a{
    margin-top: 25%;
    display: block;
    margin-left: 46%;
    margin-right: 46%;
    background-color: blue;
    color: white;
    text-decoration: none;
}